@font-face {
    font-family: 'UTM Alpine KT';
    src: url('../fonts/UTMAlpineKT.woff2') format('woff2'),
        url('../fonts/UTMAlpineKT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

