/* ------------------------------Global Style ---------------------------- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    color:#555555;
}
.font-constantia{
    font-family: 'Constantia';
}
.title-sm{
    font-family: 'UTM Alpine KT';
    color: #e3030a;
}
.title-sm a{
    color: #e3030a;
    font-size: 30px;
    line-height: 26px;
}
.t-up{
    text-transform: uppercase;
}
ul{
    padding: 0px;
    margin: 0px;
}
img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a:hover{
    text-decoration: none;
    color: #ed1f24;
}
a:focus{
    text-decoration: none;
    color: #ed1f24;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 {
    font-size: 48px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 30px;
}
h3 {
    font-size: 20px;
    line-height: 25px;
}
h4 {
    font-size: 18px;
    line-height: 22px;
}
* ::-webkit-input-placeholder {
    color: inherit;
}
* :-moz-placeholder {
    color: inherit;
    opacity: 1;
}
* ::-moz-placeholder {
    color: inherit;
    opacity: 1;
}
* :-ms-input-placeholder {
    color: inherit;
}
.txt-center{text-align: center}
.txt-thin {  font-weight: 100;  }  .txt-light {  font-weight: 300;  }.txt-regular { font-weight: 400; } .txt-medium {  font-weight: 600; }
.txt-bold {  font-weight: 700;  }  .txt-black {  font-weight: 900;  }  .txt-upper {  text-transform: uppercase;  }
.txt-crop {  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  }
.f-space05 {  margin-top: 5px;  }  .f-space10 {  margin-top: 10px;  }  .f-space15 {  margin-top: 15px;  }  .f-space20 {  margin-top: 20px;  }
.f-space25 { margin-top: 25px;  }  .f-space30 {  margin-top: 30px;  }
#wrapper {
    background: url('../images/bg_vang.jpg');
    width: 100%;
    position: relative;
    max-width: 1920px;
    overflow: hidden;
}
.box-wp{
    max-width: 1140px;
    position: relative;
}
.box-wp:before,
.box-wp:after,
.box-main:before,
.box-main:after,
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.box-wp:after,
.box-main:after,
.clearfix:after {
    clear: both;
}
.t-upc{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.img {
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 0;
    overflow: hidden;
}
.img * {
    line-height: 0;
    display: inline-block;
}
.title {
    position: relative;
    letter-spacing:-0.21px;
}
.title a{
    text-transform: uppercase;
    color: #1a1a1a;
    text-decoration: none;
}
.title:hover a{
    color: #ed1f24;
}
.title-vs{
    position: relative;
    line-height: 22px;
    padding: 10px 0;
    font-size: 20px;
}



.header{
    padding: 15px 0;
}
.header-right .language {
    float: right;
    position: relative;
    z-index: 9;
    padding-left: 10px;
}
.header-right .language .lang-choose {
    border: 1px solid rgba(255, 255, 255, 0.42);
    padding: 5px 12px 3px;
}
.header-right .language label {
    cursor: pointer;
    display: table-cell;
    font-size: 13px;
    line-height: 1em;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
}
.header-right .language label + label {
    padding-left: 10px;
}
.header-right .language .lang-choice {
    display: none;
    width: 152px;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    z-index: 3;
}
.header-right .language:hover .lang-choice,
.header-right .language:focus .lang-choice {
    display: block;
}
.header-right .language .lang-choice::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #8b8b8b;
    top: -6px;
    right: 12px;
}
.header-right .language .lang-choice li > a {
    background-color: #2f2f2f;
    border: solid #8b8b8b;
    border-width: 0 1px 1px 1px;
    color: #ffffff !important;
    display: block;
    padding: 5px 15px 3px;
}
.header-right .language .lang-choice li:first-child > a {
    border-top: 1px solid #8b8b8b;
}
.header-right .language .lang-choice li > a:hover,
.header-right .language .lang-choice li > a:focus {
    background-color: #8b8b8b;
}

.it-video .img *{
    display: block !important;
}
.it-video .img iframe{
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    min-height: 312px;
}
.content{
    padding-bottom: 20px;
    background: #ffffff;
}

.wrap-detail {
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
    position: relative;
}
/*.detail-wp {
    overflow-x: auto;
    overflow-y: hidden;
}*/
.detail-wp h1,
.detail-wp h2,
.detail-wp h3,
.detail-wp h4,
.detail-wp h5,
.detail-wp p,
.detail-wp table,
.detail-wp ul,
.detail-wp ol {
    margin-bottom: 10px;
}
.wrap-detail .social-like {
    margin: 20px 0 0;
    position: relative;
    z-index: 1;
    line-height: 20px !important;
}
.wrap-detail .social-like .item-social {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
}
.wrap-detail .social-like .item-social ._2pi8 {
    padding: 0 !important;
}
.others {
    margin-top: 20px;
}
.others .title-other {
    /*border-bottom: 1px solid #666666;*/
    color:#505050;
    /*padding-bottom: 5px;*/
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Constantia';
}
ul.list-other {
    margin: 10px 0 10px;
    padding: 0;
    width: auto;
    list-style: none;
}
ul.list-other li {
    margin-bottom: 5px;
    padding-left: 27px;
    position: relative;
}
ul.list-other li::before {
    content: "\f0a4";
    color: #666666;
    font: normal normal normal 16px/1 FontAwesome;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
}
ul.list-other li a {
}
ul.list-other li:hover,
ul.list-other li:focus,
ul.list-other li a:hover,
ul.list-other li a:focus {
    text-decoration: underline;
}
.updating {
    padding: 30px 0 50px;
    text-align: center;
}
.wrap-updating h3,
.updating h3{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}
.wrap-updating h3,
.updating h3 {
    font-weight: 400;
}
.social-share {
    position: absolute;
    right: 5px;
    top:-82px;
    z-index: 7;
    height: 0;
    text-align: center;
}
.social-share input[type="checkbox"]{
    display: none;
}
.social-share .checkbox:checked ~ .social {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-67px);
    -moz-transform: scale(1) translateY(-67px);
    -o-transform: scale(1) translateY(-65px);
    transform: scale(1) translateY(-67px);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.social-share .label {
    background-color: rgba(0, 87, 156, 0.8);
    border-radius: 50%;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    margin: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    opacity: 0;
}
.social-share .checkbox:checked + .label{
    background-color: #acacac;
    color: #00579c;
}
.social-share .social {
    transform-origin: 50% 0%;
    /*-webkit-transform: scale(0) translateY(-167px);
    -moz-transform: scale(0) translateY(-167px);
    -o-transform: scale(0) translateY(-167px);
    transform: scale(0) translateY(-167px);*/
}
.social-share ul {
    color: #ffffff;
    width: 96px;
    height: 28px;
    margin: auto;
    padding: 0;
    list-style:none;
    position: relative;
    left: 0;
    right: 0;
}
.social-share ul li {
    display: block;
    font-size: 15px;
    cursor: pointer;
    width: 28px;
    line-height: 28px;
    margin: 0 1px;
    padding: 0;
    text-align: center;
    float: left;
}
.social-share ul li:hover {
    color: rgba(0,0,0,.5);
}
.social-share ul:after {
    content:'';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    /*border-top: 6px solid #33bce9;*/
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
}
.social-share li[class*="facebook"] {
    background-color: #37528d;
}
.social-share li[class*="twitter"] {
    background-color: #33bce9;
}
.social-share li[class*="google-plus"] {
    background-color: #dc2310;
}

.btn-home{
    margin-top: 25px;
}
.order_home{
    background: #ed1f24;
    border-radius: 4px !important;
    padding: 4px 10px 6px 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.onepage{
    position: fixed;
    top: 6%;
    right: 20px;
    z-index: 999;
}

#_frm_booking .form-item input[type=text]{
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555 !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Tooltip */

.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dotstyle ul li{
    padding: 20px 0;
}
.dotstyle li a{
    position: relative;
    display: block;
    float: left;
    margin: 0 13px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.dotstyle li a span {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}

.dotstyle li a span:focus {
    outline: none;
}

.dotstyle-tooltip li a{
    border: 2px solid #fec200;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}

.dotstyle-tooltip li a span {
    top: auto;
    bottom: 250%;
    left: 50%;
    visibility: hidden;
    padding: 4px 10px;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #c44d48;
    color: #fff;
    text-indent: 0;
    line-height: 22px;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a span::after { /* http: //cssarrowplease.com/ */
    position: absolute;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 8px;
    border-color: transparent;
    border-top-color: #c44d48;
    content: '';
    pointer-events: none;
    top: 99%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li a:hover span{
    z-index: 100;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current a {
    border-color: #c44d48;
    background: #c44d48;
}

.dotstyle-tooltip li a:hover {
    z-index: 100;
}

/*.no-touch .dotstyle-tooltip ul:hover li.current a span {
    opacity: 0.2;
}*/

/*.dotstyle-tooltip ul li.current:hover a span {
    opacity: 1;
}*/


/* Radial Out */
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background: #ed1f24;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fec200;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.breadcrumb {
    display: none;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 10px 12px;
    border-radius: 0px !important;
}
.breadcrumb:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.breadcrumb a {
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 10px 0 0;
    position: relative;
    white-space: nowrap;
}
.breadcrumb .fa {
    font-size: 1.4em;
}
.breadcrumb a + a {
    padding-left: 15px;
}
.breadcrumb a:last-child {
    color: inherit;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    text-decoration: underline;
}
.breadcrumb a.error {
    color: #ff7b79 !important;
}
.breadcrumb a:before {
    content: "";
    border-top: 5px solid transparent;
    border-left: 5px solid #cfd2d3;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    top: 10px;
    font-size: 1.4em;
    font-weight: 300;
}
.breadcrumb a:last-child::before {
    display: none;
}

.page-navigation {
    font-size: 14px;
    clear: both;
    text-align: right;
    cursor: default;
    font-weight: 400;
    padding: 10px 0;
    max-width: 1140px;
}
/*
.pagination {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.pagination > li {
    list-style: none;
    float: left;
    display: inline-block;
    padding: 3px;
}
.pagination > li > a,
.pagination > li > span {
    background-color: #dfdfdf;
    border-radius: 2px;
    color: inherit;
    position: relative;
    float: left;
    padding: 0;
    width: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #f0ad4e;
    color: #ffffff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #f0ad4e;
    color: #ffffff;
    z-index: 2;
    cursor: not-allowed;
    width: 36px;
    line-height: 36px;
    margin-top: 0;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}*/
#wh-widget-send-button.wh-widget-right {
    right: 5px !important;
}
#go-top {
    opacity: .8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: -120px;
    right: 18px;
    background-color: #222831;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    outline: none;
    cursor: pointer;
    /*transition: all .5s ease;*/
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;}
#go-top:hover {
    background-color: #ed1f24;
    opacity: 1;
    transition: all .5s ease;
}
.show-backtotop {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    transition: all .5s ease;
    bottom: 30px; }

.error404 {
    text-align: center;
    font-size: 1.15em;
    padding: 30px 0 50px;
}
.error404 i {
    margin-top: 40px;
    font-size: 10em;
}
.error404 p:last-child {
    color: #ff7b79;
}



.r-tabs {
    position: relative;
}
.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    text-transform: uppercase;
    display: table-cell;
    width: 1%;
}
.r-tabs .r-tabs-nav .r-tabs-anchor,
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    background-color: #fefefe;
    position: relative;
    display: block;
    color: #454545;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    padding: 0 20px;
    cursor: pointer;
}
.r-tabs-smoke.r-tabs .r-tabs-nav .r-tabs-anchor,
.r-tabs-smoke.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    background-color: #ffffff;
    color: #454545;
}
.r-tabs-smoke.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    /*border: 1px dotted #573e33;*/
}
.r-tabs .r-tabs-nav .r-tabs-tab .r-tabs-anchor.order,
.r-tabs-smoke.r-tabs .r-tabs-accordion-title .r-tabs-anchor.order {
    background-color: #573e33;
    border-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
}
.r-tabs .r-tabs-nav .r-tabs-anchor:hover,
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor,
.r-tabs .r-tabs-accordion-title .r-tabs-anchor:hover,
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #573e33 !important;
    color: #ffffff;
}
.r-tabs .r-tabs-nav .r-tabs-anchor:hover::after,
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor::after,
.r-tabs .r-tabs-accordion-title .r-tabs-anchor:hover::after,
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -9px;
    z-index: 2;
    border-top: 7px solid #573e33;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    margin-bottom: 15px;
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}
.r-tabs .r-tabs-nav {
    border-bottom: 2px solid #573e33;
    margin: 0 auto;
    padding: 0;
}
.r-tabs .r-tabs-tab {
    display: block;/*
	float: left;*/
    list-style: none;
    padding: 5px 5px 0 0;
}
.r-tabs .r-tabs-tab:last-child{
    padding-right: 0px;
}
.r-tabs .r-tabs-tab:first-child{
    padding-left: 0px;
}
.r-tabs .r-tabs-panel {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    margin-top: 15px;
    padding: 20px;
    display: none;
}
.r-tabs .r-tabs-accordion-title {
    display: none;
}
.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}
@media screen and (max-width: 767px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }

    .r-tabs .r-tabs-panel {
        margin-bottom: 7px;
    }
    .r-tabs .r-tabs-nav .r-tabs-anchor:hover::after, .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor::after, .r-tabs .r-tabs-accordion-title .r-tabs-anchor:hover::after, .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor::after {
        bottom: -7px !important;
    }

}
@media screen and (max-width: 480px) {
    .r-tabs .r-tabs-panel {
        padding: 10px;
    }
}
.fb_iframe_widget_fluid span {
    width: 100% !important;
}
.fb_ltr {
    width: 100% !important;
}

.form-booking .form-item{
    position: relative;
}

.form-booking .form-item .show-error {
    color: #f70626;
    font-size: 0.9em;
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}
.form-booking .form-item .date .show-error{
    right: 50px;
    top: 11px;
}


.error404 {
    text-align: center;
    min-height: 300px;
    font-size: 1.15em;
}
.error404 i {
    font-size: 10em;
}
.error404 p:last-child {
    color: #ff7b79;
}
.coming-soon p:last-child {
    color: #1fa67a;
}


.form-sm {
    padding: 5px;
    width: 50%;
    float: left;
}
.form-bg {
    padding: 5px;
}
.frm .form-item {
    position: relative;
    padding: 7px;
}
.frm .form-item input,
.frm .form-item select,
.frm .form-item textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px 10px 10px 15px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    border-radius: 2px;
}
.frm .form-item textarea {
    resize: none;
}
.frm .form-item i {
    left: 7px;
    top: 8px;
    position: absolute;
    height: 34px;
    width: 40px;
    color: #b8b8b8;
    text-align: center;
    line-height: 34px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
.frm .form-item input:hover ~ i,
.frm .form-item select:hover ~ i,
.frm .form-item textarea:hover ~ i {
    color: red
}
.frm .form-item input:focus ~ i,
.frm .form-item select:focus ~ i,
.frm .form-item textarea:focus ~ i {
    color: #000;
}
/*.frm .form-item input[type=submit] {
    background: #000000 url('/images/btn-send.png') center no-repeat;
    border: none;
    width: 100%;
    padding: 9px 0;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    max-width: 150px;
    text-transform: uppercase;
}*/
.frm .form-item .btn-danger{
    background:#e8e8e8;
    border: none;
    color:#505050;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 2rem;
    outline: none;
    border-radius: 4px;
}
.frm .form-item .btn-danger:hover{
    background: #643c17;
    color:#ffffff;
}
.frm .form-item .btn-primary{
    background:#c3996b;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 2rem;
    outline: none;
    margin-left: 10px;
    width: auto;
    border-radius: 4px;
}
.frm .form-item .btn-primary:hover{
    background: #643c17;
}
/*.frm .form-item input[type=submit]:hover,
.frm .form-item input[type=submit]:focus {
    background-color: #c3996b;
}*/
.frm .form-item input.btn-dm:hover,
.frm .form-item input.btn-dm:focus {
    background-color: #ffaa05;
}
.frm .form-item .show-error {
    color: #f70626;
    font-size: 0.9em;
    font-weight: lighter;
    white-space: nowrap;
}
.frm .frm-button {
    text-align: center;
}
.form-item.it-error input,
.form-item.it-error select,
.form-item.it-error textarea {
    border: 1px solid #ff6e69;
}
/*** Gio hang ***/
#count_cart{
    background: #e3030a;
    padding: 3px 9px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    right: -10px;
    top: -4px;
}
#order-form {
    display: none;
}
.form-order tr th {
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 4px;
    font-size: 14px !important;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    border: 1px solid #e9e9e9;
    white-space: nowrap;
}
.form-order tr td{
    line-height: 40px;
    font-size: 15px !important;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    border: 1px solid #e9e9e9;
}
.form-order tr td input{
    text-align: center;
    margin: 0 10px;
    line-height: 28px;
    width: 60%;
}
.form-order{
    border-collapse: collapse;
    border: 1px solid #e9e9e9;

}
.inputsoluong{
    border: none;
}
.form-order tr:hover{
    background: #fafafa !important;
}
.form-order .img{
    /*min-width: 150px;*/
    padding: 10px;
}
.inputsoluong input{
    border: none;
}
.btn-order{
    background: #002954 !important;
    margin: 10px 15px 7px 15px;
    padding: 13px 15px;
    color: #000;
    border: none;
    font-weight: 700;
    outline: none;
}
.btn-primary{
    background: #4a1c1a !important;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background: #e3030a !important;
}
.btn-space{
    margin-right: 4px;
}
#order-form{
    margin-top: 15px;
}
.formmuahang{
    text-align: center;
}
#frmOrder .form-item input[type=submit] {
    background: #fec200 url(../images/btn-send.png) center no-repeat;
    width: 100%;
    padding: 6px 0;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    max-width: 100px;
    text-transform: uppercase;
}
#frmOrder .form-item input[type=submit]:hover{
    background: #e3030a url(../images/btn-send.png) center no-repeat;
}
.show-cart .box-btn input{
    margin-right: 10px;
    min-width: 150px;
    outline: none;
}

.show-cart .box-btn{
    text-align: center;
}


#_loading {
    display: none;
    position: fixed;
    z-index: 9999;
}

.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus{
    border-color: #fec200 !important;
    background-color: #ed1f24 !important;
}
.gsc-search-button-v2 svg{
    vertical-align: middle !important;
}
.cse .gsc-control-cse, .gsc-control-cse{
    padding: 0px !important;
}

.windows8 {
    position: relative;
    width: 80px;
    height:80px;
}

.windows8 .wBall {
    position: absolute;
    width: 76px;
    height: 76px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.95s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.95s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.95s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.95s infinite;
    transform: rotate(225deg);
    animation: orbit 4.95s infinite;
}

.windows8 .wBall .wInnerBall{
    background-color: #f7941e;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    -ms-animation-delay: 1.08s;
    -o-animation-delay: 1.08s;
    animation-delay: 1.08s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.22s;
    -webkit-animation-delay: 0.22s;
    -ms-animation-delay: 0.22s;
    -o-animation-delay: 0.22s;
    animation-delay: 0.22s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.43s;
    -webkit-animation-delay: 0.43s;
    -ms-animation-delay: 0.43s;
    -o-animation-delay: 0.43s;
    animation-delay: 0.43s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 0.86s;
    -webkit-animation-delay: 0.86s;
    -ms-animation-delay: 0.86s;
    -o-animation-delay: 0.86s;
    animation-delay: 0.86s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}

@-webkit-keyframes shakeit {
    0% { -webkit-transform: rotate(0deg) translate(2px, 1px); }
    10% { -webkit-transform: rotate(1deg) translate(1px, 2px); }
    20% { -webkit-transform: rotate(-1deg) translate(3px, 0px) ; }
    30% { -webkit-transform: rotate(0deg) translate(0px, -2px); }
    40% { -webkit-transform: rotate(-1deg) translate(-1px, 1px); }
    50% { -webkit-transform: rotate(1deg) translate(1px, -2px); }
    60% { -webkit-transform: rotate(0deg) translate(3px, -1px); }
    70% { -webkit-transform: rotate(1deg) translate(-2px, -1px); }
    80% { -webkit-transform: rotate(-1deg) translate(1px, 1px); }
    90% { -webkit-transform: rotate(0deg) translate(-2px, -2px); }
    100% { -webkit-transform: rotate(1deg) translate(-1px, 2px); }
}
@keyframes shakeit {
    0% { transform: rotate(0deg) translate(2px, 1px); }
    10% { transform: rotate(1deg) translate(1px, 2px); }
    20% { transform: rotate(-1deg) translate(3px, 0px) ; }
    30% { transform: rotate(0deg) translate(0px, -2px); }
    40% { transform: rotate(-1deg) translate(-1px, 1px); }
    50% { transform: rotate(1deg) translate(1px, -2px); }
    60% { transform: rotate(0deg) translate(3px, -1px); }
    70% { transform: rotate(1deg) translate(-2px, -1px); }
    80% { transform: rotate(-1deg) translate(1px, 1px); }
    90% { transform: rotate(0deg) translate(-2px, -2px); }
    100% { transform: rotate(1deg) translate(-1px, 2px); }
}

.box-tab .detail a,
.about-us .detail a{
    background: #e3030a;
    padding: 4px 25px 6px 15px;
    margin-top: 15px;
    border-radius: 20px;
    color: #ffffff;
}
/* Icon Forward */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.hvr-icon-forward:before {
    content: "\f0da";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}


@media screen and (max-width: 480px) {
    .form-sm {
        width: 100%;
    }
	.hotline a{
		font-size: 14px !important;
		    float: left !important;
			
	}
	.hotline a::before{
		    top: 3px !important;
	}
	.hotline a:last-child::before{
		    top: -1px !important;
	}
}
@media (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 1920px) and (min-width: 960px) {
    .introduct .about-us{
        text-align: left !important;
    }
    .introduct .about-us .text{
        font-family: Arial, 'sans-serif' !important;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1132px;
        max-width: 100%;
    }
}
.language-mobile{
    padding-left: 12px !important;
}
.language-mobile a{
    display: inline-block !important;
    padding: 10px !important;
}